extends: airbnb
env:
  mocha: true
rules:
  global-require: 0
  max-len: 0
  newline-per-chained-call: 0
  no-loop-func: 1
  no-console: 0
  no-multi-spaces: 0
  no-restricted-syntax: 0
  no-script-url: 1
  no-underscore-dangle: 0
  no-use-before-define: 0
  prefer-template: 0
  vars-on-top: 0
  new-cap: 0
